---  
---  

@import "{{ site.theme }}";

#nav-background {
    background-image: url("https://raw.githubusercontent.com/csc-ubc-okanagan/communications/main/csc-media-assets/UBCO-CSC-Icon-Colour.png?token=GHSAT0AAAAAACI65QHKBSZ6YCQH632UCNPGZKKN4CQ");
    background-repeat: no-repeat;
    background-position: right;
    background-size:15%;
    height: 150px;
}

h1:first-of-type {
    display: none;
}

img {
    width: 100px;
    display: inline-block !important;
    margin-top: 50px !important;
}


.indent {
    margin-left: 125px !important;
    margin-top: -125px !important;
    margin-bottom: 100px !important;
}

.r::before {
    background-image: url(https://www.r-project.org/logo/Rlogo.png);
    width: 100px;
}

/**
#workshops + ul li {
    width: 32%;
    border: 5px solid #B8CDE6;
    height: 200px;
    display: inline-flex;
    justify-content: center;
    text-align: center;
    font-size: 1.2em
}
**/

.markdown-body blockquote {
    padding: 1em;
    color: #000;
    border-left: 0.5em solid #2866a4;
    background: #eaf5ff;
}

.markdown-body pre {
    background-color: #f9f9f9;
}

.markdown-body img {
    display: block;
    margin: auto;
}

.highlight .s2, .highlight .s1 {
    color: #1174dd;
  }

.highlight .p, .highlight .n {
    color: #000000;
}

.highlight .n:first-of-type {
    color: #990000;
    font-weight: bold;
}

.markdown-body pre > code {
    color: #008000;
}

.markdown-body code, .markdown-body tt {
    background-color: rgba(156, 211, 195, 0.18);
  }

